<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Destroytheworld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE968F521E8DEB990077158F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE968F661E8DEB9A0077158F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE968F711E8DEB9A0077158F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
